nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}
header {
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
  
}
.logo {
    width: 60vw;
}
.mainTitle {
    text-align: center;
}
body {
    background-color: #eeeeee;
}
.form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.emailStyle {
    max-width: 475px;
    padding: 5px;
    width: 100%;
}
.buttonStyle {
    background-color: #f1c40f;
    font-weight: 600;
    margin-top: 1rem;
    height: 40px;
    border: none;
    padding: 10px 20px;
}
.content-container {
    padding-left: 20rem;
    padding-right: 20rem;
}
.sectionLeft {
    width: 20%;
    float: left;

}
.sectionRight {
    float: left;
    width: 80%;
}
.symbolParagraph {
    color: #f1c40f;
}
.videoStyle {
    padding-left: 20rem;
    padding-right: 20rem;
    text-align: center;
}
.containerBox {
    padding-left: 20rem;
    padding-right: 20rem;
}